.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* form */

body,
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.form_member {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form_member form {

  width: 300px;
}

.form_member input {
  width: 300px;
  border: 1px solid #ccc;
  padding: .2rem 0;
}

.form_member h2 {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.8rem;
  font-weight: 500;
}

.form_member ul li {
  margin-top: 1rem;
}

.form_member label {
  color: #3b3b3b;
}


.form_member button[type="submit"] {
  color: white;
  border: 0;
  padding: 0.5rem 1rem;
  background-color: #28a745;
  border-radius: 5px;
  margin-top: 1rem;

}